.card-css {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 20px;
  background-color: #d7778e;
}
/**
This component is the the card where the user can input information or image about an item
 or product. This component can be used for an e-commerce website or an app for that allows
 the user see details of an item or image. */
