* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  padding: 1rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #259992;
  color: #3E3A4A;
}

nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 90%;
  margin-left: 2rem;
  padding: .2rem;
}

li {
  background-color: rgb(215, 119, 142);
  padding: .4rem;
  width: 30%;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: .1rem;
  color: rgb(255, 255, 255);
  box-shadow: 0 .2rem .2rem black;
}
/**
This component can be used as a place holder for any website or an app. The header creates
 a space for other web components to be placed such as buttons, search bar, login and list to cart buttons.. etc*/
