.my-footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 42px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d7778e;
  color: white;
  font-family: Arial;
}
/**
This component can be used as a placholder for any website. The footer creates
 a space for other web components to be placed such as buttons, social media
 links, links to pages etc*/
